@model CakeShop.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChiTietTaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ChiTietTaiKhoan</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
